<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Металлургический Акселератор</title>
    <link rel="preload" href="//static/fonts/Inter_24pt-Regular.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="//static/fonts/Soyuz_Grotesk_Bold.otf" as="font" type="font/otf" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">МеталлАкселератор</div>
            <ul>
                <li><a href="#startups">Стартапам</a></li>
                <li><a href="#investors">Инвесторам</a></li>
                <li><a href="#contacts">Контакты</a></li>
                <li><a href="/login" class="login-button" target="_blank">Войти</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="hero__content">
                <h1 class="hero__title">Металлургия будущего 
                    <div class="hero__image-container-2">
                    <img src="/static/images/icons/aluminum-ore-orange.svg" class="hero__mask">
                    <video src="/static/images/2.mp4" class="hero__image bup1" autoplay muted loop></video>
                </div> – здесь рождаются прорывные стартапы 
                <div class="hero__image-container-2 bup2container">
                    <img src="/static/images/icons/tital-ore-white.svg" class="hero__mask bup2mask">
                    <video src="/static/images/4.mp4" class="hero__image bup2" autoplay muted loop></video>
                </div>
                <!-- <img src="/static/images/icons/platinum-ore-orange.svg" alt="" class="inline-icon"> -->
            </h1>
                <p class="hero__description">Находим, развиваем и масштабируем прорывные стартапы в сфере обработки и производства металлов</p>
                <a href="/apply" class="cta-button first">Cтартапам – представить проект</a>
                <a href="/register" class="cta-button">Инвесторам – найти проекты</a>
            </div>
            <img src="/static/images/banner.svg" alt="" class="banner">
        </section>

        <section id="startups" class="startups">
            <div class="about__content">
                <div class="about__text">
                    <h2>Стартапам <img src="/static/images/icons/platinum-ore.svg" alt="" class="about__icon"></h2>
                    <p class="about__description">Мы — специализированный венчурный фонд, сфокусированный на поддержке металлургических стартапов. Мы строим мост между прорывными технологиями и крупными инвестициями, способствуя созданию устойчивого и эффективного будущего металлургии.</p>
                    <div class="about__stats">
                        <div class="stat-item">
                            <span class="stat-number">1500+</span>
                            <span class="stat-text">компаний в воронке</span>
                        </div>
                        <div class="stat-item">
                            <span class="stat-number">7 млрд ₽</span>
                            <span class="stat-text">объем инвестиций до 2025</span>
                        </div>
                    </div>
                </div>
                <div class="about__image">
                    <img src="/static/images/bobishka.svg   " alt="Алюминиевая шляпа">
                </div>
            </div>

            <h3>Этапы отбора</h2>
            <ul class="about__steps">
                <a href="/apply" class="about__step cta-button">
                    Подача заявки
                </a>
                <li class="about__step">
                    Экспертиза
                </li>
                <li class="about__step">
                    Питч-сессия
                </li>
                <li class="about__step">
                    Инвестиции
                </li>
            </ul>
        </section>

        <section id="investors" class="startups">
            <div class="startups__content">
                <div class="startups__text">
                    <h2>Инвесторам <img src="/static/images/icons/nickel-ore.svg" alt="" class="about__icon"></h2>
                    <p class="startups__description">Мы открываем двери в рынок с огромным потенциалом, предлагая вам эксклюзивный доступ к прорывным проектам и шанс приумножить ваш капитал, инвестируя в будущее металлургической отрасли.</p>
                    
                    <ul class="cases">
                        <li class="case">
                            <h3 class="case__title">Alpha Metals</h3>
                            <p class="case__description">Этот стартап разработал революционную технологию 3D-печати металлических компонентов с уникальными свойствами. Привлекая $3 млн на ранних стадиях через нашу платформу, Alpha Metals был приобретен крупной аэрокосмической корпорацией за $45 млн всего через 4 года, обеспечив инвесторам 15-кратную доходность.</p>
                        </li>
                        <li class="case">
                            <h3 class="case__title">Green Steel Innovations</h3>
                            <p class="case__description">Стартап сосредоточился на разработке экологически чистых методов производства стали с использованием водорода. Привлекая $5 млн в два раунда финансирования, Green Steel Innovations успешно вышла на европейский рынок, заключив долгосрочные контракты с ведущими автомобильными производителями и оценивается сейчас в $70 млн, что принесло ранним инвесторам 14-кратный прирост капитала.</p>
                        </li>
                    </ul>
                </div>
                <div class="startups__image">
                    <img src="/static/images/coat.svg" alt="Человек в костюме поднимается по металлической лестнице">
                </div>
            </div>
            <h3>Как найти стартап</h3>
            <ul class="about__steps">
                <a href="/register" class="about__step cta-button">
                    Регистрация
                </a>
                <li class="about__step">
                    Поиск проектов через фильтры
                </li>
                <li class="about__step">
                    Связь с основателями
                </li>
            </ul>
        </section>

        <section class="contacts" id="contacts">
            <div class="contacts__content">
                <h2>Свяжитесь с нами</h2>
                <div class="contacts__links">
                    <a href="https://t.me/levstelegram" class="contact-link" target="_blank">
                        <span class="contact-text">Telegram</span>
                    </a>
                    <a href="mailto:info@acelerator.ru" class="contact-link">
                        <span class="contact-text">info@acelerator.ru</span>
                    </a>
                </div>
            </div>
        </section>
    </main>

    

    <footer>
        <p>&copy; 2024 МеталлАкселератор. Все права защищены.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html> 